head
  title base template
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://unpkg.com/react-md@1.2.8/dist/react-md.indigo-pink.min.css')
  link(rel='shortcut icon', type='image/ico', href='/img/favicon.png')