doctype
html
  include ./common/head.pug
  body
    #root ${html}
    |             
    script.
      window.__PRELOADED_STATE__ =
      ${JSON.stringify(preloadedState).replace(/</g, '\\\u003c')}
    |             
    script(src='/js/client.js')
    |             
    script(src='/js/plugins.js')